* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #202027;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-color: #E1FF8F;
    height: 800px;
    background-image: url('img/Star1_1.svg'), url('img/Star1_2.svg'), url('img/Star1_3.svg'), url('img/Star1_4.svg'), url('img/Star1_5.svg');
    background-repeat: no-repeat;
    background-position: right 0 top 0, left 63px top 94px, left 156px top 69px, right 334px top 568px, right 445px top 538px;
}

.top__title {
    padding-top: 196px;
    max-width: 768px;
    color: #202027;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top__intro {
    width: 720px;
    margin-top: 24px;
    margin-bottom: 48px;
    color: #202027;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.top__intro-bold {
    font-weight: 600;
}

.top__button {
    border-radius: 60px;
    border: 1px solid #202027;
    background: #202027;
    display: flex;
    width: 247px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.688%;
    /* 34.005px */
    cursor: pointer;
    margin-bottom: 156px;
}

.top__button:hover {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
}

.menu {
    display: inline-flex;
    padding: 27px 49px;
    align-items: center;
    gap: 51px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #BCEC30;
    backdrop-filter: blur(25px);
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
}

.menu__link {
    color: #202027;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 33px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    flex-shrink: 0;
}

.menu__img {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.about {
    background-color: #202027;
    padding-top: 94px;
    padding-bottom: 50px;
    background-image: url('img/Star2_1.svg'), url('img/Star2_2.svg'), url('img/Star2_3.svg');
    background-repeat: no-repeat;
    background-position: right 0px top 77px, left 25px top 770px, left 40px top 822px;
}

.about__title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    margin-bottom: 24px;
}

.about__intro {
    max-width: 788px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.about__box {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    margin-top: 72px;
}

.about__column {
    display: flex;
    width: 378px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.about__link {
    display: block;
    text-decoration: none;
}

.about__game {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 12.612px 42.251px -7.567px rgba(0, 0, 0, 0.13);
    transition: all 0.5s;
}

.about__game:hover {
    transform: scale(1.074);
}

.about__img {
    height: 314px;
    border-radius: 30px;
}

.about__descr {
    display: flex;
    padding: 32px 32px 36px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 30px;
}

.about__number {
    padding: 8px 16px 10px 16px;
    color: #202027;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    /* 17.6px */
}

.about__name {
    width: 97%;
    align-self: stretch;
    color: #202027;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 767px) {
    .about {
        display: none;
    }

    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .top {
        height: 650px;
        background-image: url('img/Star1_1m.svg'), url('img/Star1_2m.svg'), url('img/Star1_3m.svg'), url('img/Star1_4m.svg'), url('img/Star1_5m.svg');
        background-repeat: no-repeat;
        background-position: right 0 top 0, left 37px top 97px, left 91px top 64px, right 34px top 580px, right 86px top 557px;
    }

    .top__title {
        text-align: center;
        font-size: 40px;
        padding-top: 147px;
    }

    .top__intro {
        text-align: center;
        font-size: 16px;
        line-height: normal;
        width: auto;
        min-width: 296px;
        margin-bottom: 36px;
    }

    .top__button {
        width: 285px;
        font-size: 16px;
        margin: 0 auto;
        margin-bottom: 131px;
    }

    .menu {
        padding: 16px 24px;
        backdrop-filter: blur(13.429944038391113px);
        gap: 27px;
    }

    .menu__link {
        font-size: 16px;
        letter-spacing: 0.64px;

    }

    .menu__img {
        width: 20px;
        height: 20px;
    }
}